<?php 
// $user_name="";
// $friend=new User(1,$db);
echo clearNoteHtmlOp::get_head("Photos",$user_name);
echo clearNoteHtmlOp::get_include_css();
?><body class="animated fadeIn">
    <nav class="navbar navbar-default navbar-fixed-top navbar-principal">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.php"><img src="img/logo.png" class="img-logo"> <b>Bee-Hive</b> </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div class="col-md-5 col-sm-4">
                    <form class="navbar-form">
                        <div class="form-group" style="display:inline;">
                            <div class="input-group" style="display:table;">
                                <input class="form-control" name="search" placeholder="Search..." autocomplete="off" type="text"> <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="profile.php"><img src="image.php?user=<?=$user_id ?>&s=m" class="img-nav"></a>
                    </li>
                    <li class="active"><a href="index.php"><i class="fa fa-bars"></i>&nbsp;Home</a>
                    </li>
                    <li><a href="messages.php" id="messages"><i class="fa fa-comments"></i></a>
                    </li>
                    <li><a href="notifications.php" id="notifications"><i class="fa fa-globe"></i></a>
                    </li>
                    <li><a href="#" class="nav-controller hide-chat"><i class="fa fa-user"></i>Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-10 no-paddin-xs">
                <div class="profile-nav col-md-4">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#"><img src="image.php?user=<?=$friend_id ?>&s=m" alt=""> </a>
                            <h1><?=$user_name ?></h1>
                            <p><?=$friend->get_email(); ?></p>
                            <?php if (!$is_self){?>
                            <button type="button" class="btn btn-success" id='friend_action'><i class="glyphicon glyphicon-user"></i> <span><?=$friend_button ?></span></button>
                            <?php }?>
                        </div>
                         <ul class="nav nav-pills nav-stacked">
                            <li><a href="profile.php<?=$is_self?"":"?id=$friend_id" ?>"><i class="fa fa-user"></i>Profile</a>
                            </li>
                            <li class="active">
                                <a href="about.php<?=$is_self?"":"?id=$friend_id" ?>"> <i class="fa fa-info-circle"></i>About</a>
                            </li>
                            <li>
                                <a href="friends.php<?=$is_self?"":"?id=$friend_id" ?>"> <i class="fa fa-users"></i>Friends</a>
                            </li>
                            <li>
                                <a href="photos.php<?=$is_self?"":"?id=$friend_id" ?>"> <i class="fa fa-file-image-o"></i>Photos</a>
                            </li>
                            <?php if ($is_self){?>
                            <li>
                                <a href="edit-profile.php"> <i class="fa fa-edit"></i>Edit profile</a>
                            </li><?php }?>
                        </ul>
                    </div>
                </div>
                <div class="profile-info col-md-8">
	                <div class="panel">
	                	<div class="panel-body bio-graph-info">
	                		<h1>About <?=$is_self?"You":$user_name ?></h1>
	                		<div class="row">
	                		<?php if ($is_self){?>
	                			<form action="" method="post" id="edit_about"><?php }?>
	                			
		                			<?php foreach ($abouts as $key=>$val){
		                			if (empty($val) && !$is_self)continue;?>
		                			<div class="bio-row">
		                				<p><span><?=$key; ?> </span>: <?php if ($is_self){?><input type="text" value="<?=$val; ?>" name="<?=strtolower(str_replace(" ", "_", $key)); ?>" /><?php }else {echo $val;}?></p>
		                			</div>
		                			<?php }?>
		                			
	                			<?php if ($is_self){ ?>
	                			<input type="submit" value="Save Data" class="btn btn-primary pull-right"/>
	                			</form><?php } ?>
	                		</div>
	                	</div>
	                </div>
	             </div>
             </div>
          </div>
        </div>
        <?=clearNoteHtmlOp::get_chat_sidebar(); ?>
        <?=clearNoteHtmlOp::get_chat_box(); ?>
<?=clearNoteHtmlOp::get_footer() ?>
<?=clearNoteHtmlOp::get_js();?>
<script>
var friend_id=<?=$friend_id; ?>;
</script>
</body>
</html>