<body class="animated fadeIn">
    <nav class="navbar navbar-default navbar-fixed-top navbar-principal">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.php"><img src="img/logo.png" class="img-logo"> <b>Bee-Hive</b> </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <div class="col-md-5 col-sm-4">
                    <form class="navbar-form">
                        <div class="form-group" style="display:inline;">
                            <div class="input-group" style="display:table;">
                                <input class="form-control" name="search" placeholder="Search..." autocomplete="off" type="text"> <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="profile.php"><img src="image.php?user=<?=$user_id ?>" class="img-nav"></a>
                    </li>
                    <li class="active"><a href="index.php"><i class="fa fa-bars"></i>&nbsp;Home</a>
                    </li>
                    <li><a href="messages.php" id="messages"><i class="fa fa-comments"></i></a>
                    </li>
                    <li><a href="notifications.php" id="notifications"><i class="fa fa-globe"></i></a>
                    </li>
                    <li><a href="#" class="nav-controller hide-chat"><i class="fa fa-user"></i>Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row text-center color-container">
        <h1 class="profile-name"><?=isset($_SESSION['user_name'])?htmlspecialchars($_SESSION['user_name']):"Welcome" ?></h1>
    </div>
    <div class="container">
        <div class="col-md-10 no-paddin-xs">
            <div class="row">
                <div class=" col-md-3 hidden-xs">
                    <div class="left-user-options" data-spy="affix">
                        <img src="image.php?user=<?=$user_id ?>" class="img-thumbnail img-circle img-user">
                        <div class="list-group">
                            <a href="profile.php" class="list-group-item"><i class="fa fa-bars"></i>Timeline </a>
                            <a href="photos.php" class="list-group-item"><i class="fa fa-image"></i>Photos </a>
                            <a href="friends.php" class="list-group-item"><i class="fa fa-users"></i>Friends </a>
                            <a href="messages.php" class="list-group-item"><i class="fa fa-comment"></i>Messages </a>
                        </div>
                        <div class="alert alert-info" >
                            <button type="button" class="close" data-dismiss="alert"> &times;</button>
                            <span>info</span>
                        </div>
                    </div>
                </div>
                <div class="profile-info col-md-8">
                    <div class="panel post-box-top">
                        <form action="" method="post" enctype="multipart/form-data" id="post_form">
                            <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area" id="statusbox" name="post_msg"></textarea>
                        	<input type="hidden" name="req_type" value="new_post" />
                        <div class="panel-footer hidden" id="statusboxfooter">
                        	
                            <div class="pull-right">
	                            <select name="privacy" id="" class="">
	                            	<option value="1">Public</option>
	                            	<option value="2" selected="selected">Friends</option>
	                            	<option value="3">Only me</option>
	                            </select>
	                            <button class="btn btn-info" type="submit" id="make_post">Post</button>
                            </div>
                            <progress class="pull-right hidden progress_bar"></progress>
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-camera btn-file"><input type="file" name="image" id="image_up"/></i></a>
                                </li>
                            </ul>
                        </div>
                        </form>
                    </div>
                    <?php foreach ($feeds as $feed){?>
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image"><img src="image.php?user=<?=$feed['user_id'] ?>&s=s" class="avatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5"><a href="user.php?id=<?=$feed['user_id'] ?>" class="post-user-name"><?=$feed['first_name']." ".$feed['last_name'] ?></a> <?=empty($feed['picture_id'])?"made a post.":"uploaded a photo." ?></div>
                                <h6 class="text-muted time"><?=Feeds::get_age($feed['time']) ?></h6>
                            </div>
                        </div>
                        <?php if (!empty($feed['picture_id'])){?><div class="post-image"><img src="image.php?id=<?=$feed['picture_id'] ?>" class="image show-in-modal" alt="image post">
                        </div><?php }?>
                        <div class="post-description">
                            <p><?=$feed['post_data'] ?></p>
                            <div class="stats">
                            	<a href="#" class="btn btn-<?=$feed['has_liked']==1?"primary":"default" ?> stat-item like"><i class="fa fa-thumbs-up icon"></i><span class="count"><?=$feed['like_count'] ?></span> </a>
                            	<a href="#" class="btn btn-default stat-item"><i class="glyphicon glyphicon-comment icon"></i><?=$feed['comment_count'] ?> </a>
                            </div>
                        </div>
                        <div class="post-footer">
                            <input class="form-control add-comment-input" placeholder="Add a comment..." type="text">
                            <input class="postid" type="hidden" value="<?=$feed['post_id']; ?>" />
                            <ul class="comments-list">
                               <!-- Will load through AJAX -->
                            </ul>
                        </div>
                    </div>
                    <?php }?>
                    <div class="panel panel-white post-load-more panel-shadow text-center">
                        <button class="btn btn-info"><i class="fa fa-refresh"></i>Load More...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-sidebar focus">
        <div class="list-group text-left">
            <p class="text-center visible-xs"><a href="#" class="hide-chat">Hide</a>
            </p>
            <p class="text-center chat-title"><i class="fa fa-weixin"> Chat</i>
             </p>
             <div class="chat_list">
             </div>
            
        </div>
    </div>
    <div class="chat-window col-xs-10 col-md-3 col-sm-8 col-md-offset-5">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8 col-xs-8">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> <span id="chat_name">Friend</span></h3>
                        </div>
                        <div class="col-md-4 col-xs-4" style="text-align: right;"><a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a><a href="#"><span class="glyphicon glyphicon-remove icon_close"></span></a>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                    <!-- Chat messages -->
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." /> <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="btn-chat">Send</button> </span>
                            <input type="hidden" id='current_chat_user_id' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-show" class="modal modal-message modal-primary fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><i class="fa fa-image"></i>
                </div>
                <div class="modal-body text-center">
                    <div class="img-content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="welcome-footer">
        <div class="container">
            <p>
                <div class="footer-links"><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Developers</a> | <a href="#">Contact</a> | <a href="#">About</a>
                </div>Copyright &copy; Company - All rights reserved</p>
        </div>
    </footer>
<?=clearNoteHtmlOp::get_js(array("timeline.js"));?>