<?php 
// $user_name="";
// $friend=new User(1,$db);
echo HtmlOp::get_head("Friends",$user_name);
echo HtmlOp::get_include_css(array("templates/beehive/_css/friends.css"));
?><body class="animated fadeIn">
    <?=HtmlOp::get_nav($user_id); ?>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-10 no-paddin-xs">
            	<div class="profile-nav col-md-4">
                <?=HtmlOp::get_left_menu($friend,'friends',$is_self,isset($friend_button)?$friend_button:null) ?>
                </div>
                <div class="profile-info col-md-8">
	                <div id="connection_tab">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist"><?php foreach ($tabs as $tab){
                      	if (!isset($connections_arranged[$tab])){
                      		continue;
                      	}
                      ?>
                        <li role="presentation"><a href="#<?=$tab;?>" aria-controls="<?=$tab;?>" role="tab" data-toggle="tab"><?=ucwords(str_replace("_", " ", $tab))." (".count($connections_arranged[$tab]).")";?></a></li><?php }?>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content"><?php foreach ($tabs as $tab){
                      	if (!isset($connections_arranged[$tab])){
                      		continue;
                      	}
                      	?>
	                      <div role="tabpanel" class="tab-pane fade" id="<?=$tab;?>"><?php foreach ($connections_arranged[$tab] as $con){?>
	                      	<div class="col-md-6 cols-sm-12 col-xs-12">
                                <div class="media block-update-card">
                                    <a class="pull-left" href="profile.php?id=<?=$con['connected_user'] ?>"><img class="media-object update-card-MDimentions img-thumbnail" src="image.php?user=<?=$con['connected_user'] ?>&s=m" alt="<?=$con['name'] ?>"> </a>
                                    <div class="media-body update-card-body">
                                        <h4 class="media-heading"><a href="profile.php?id=<?=$con['connected_user'];  ?>" class="friend_list_link"><?=$con['name']; echo $con['connected_user']==$user_id?" (You)":"" ?></a></h4>
                                        <div class="btn-toolbar card-body-social" role="toolbar"><?php if ($con['connected_user']!=$user_id){?>
                                            <a class="btn btn-default btn-xs fa fa-envelope info tip" title="Send message" href="messages.php?id=<?=$con['connected_user']; ?>"></a><?php } if ($is_self){ ?>
                                            <button type="button" class="btn btn-success btn-xs friend_action" value="<?=$con['connected_user']; ?>"><i class="glyphicon glyphicon-user"></i> <span><?=$action_button_text[$tab] ?></span></button><?php }?>
                                        </div>
                                    </div>
                                </div>
                            </div>
	                      <?php }?>
	                      
	                      </div>
                      <?php }?>
                      </div>
                    </div>
	             </div>
             </div>
          </div>
        </div>
        <?=HtmlOp::get_chat_sidebar(); ?>
        <?=HtmlOp::get_chat_box(); ?>
        <?=HtmlOp::get_modal_image(); ?>
<?=HtmlOp::get_footer() ?>
<?=HtmlOp::get_js();?>
<script>
var friend_id=<?=$friend_id; ?>;
$(document).ready(function() {
	$('#connection_tab a').first().tab('show');
});
</script>
</body>
</html>