<?php 
// $user_name="";
// $friend=new User(1,$db);
echo HtmlOp::get_head("Photos",$user_name);
echo HtmlOp::get_include_css();
?><body class="animated fadeIn">
    <?=HtmlOp::get_nav($user_id); ?>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-10 no-paddin-xs">
            	<div class="profile-nav col-md-4">
                <?=HtmlOp::get_left_menu($friend,'photos',$is_self,isset($friend_button)?$friend_button:null) ?>
                </div>
                <div class="profile-info col-md-8">
                    <div class="panel panel-info panel-list-photos">
                        <div class="panel-heading">
                            <h3 class="panel-title">Photos</h3>
                        </div>
                        <div class="panel-body">
                        	<div class="photos">
                        	</div>
                            
<!--                             <div class="col-md-12  post-load-more  text-center">
                                <button class="btn btn-info btn_load_more">
                                    <i class="fa fa-refresh"></i>Load More...
                                </button>
                             </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <?=HtmlOp::get_chat_sidebar(); ?>
        <?=HtmlOp::get_chat_box(); ?>
        <?=HtmlOp::get_modal_image(); ?>
<?=HtmlOp::get_footer() ?>
<?=HtmlOp::get_js();?>
<script>
var friend_id=<?=$friend_id; ?>;
$(document).ready(function() {
	  load_image_list(friend_id,12);
});
function make_image_html(ob){
	$op="<div class='col-md-4 col-sm-6 col-xs-6 photo-content'>"+
		"<img src='image.php?id="+ob.picture_id+"&s=ms' alt='photo' class='img-responsive  show-in-modal'>"+
		"<input type='hidden' class='image_id' value='"+ob.picture_id+"'/></div>";
	return $op;
}
/* ========== Load Images ======*/
function load_image_list(friend_id,limit){
	$.post('ajax-req.php',{req_type:'get_Images',friend_id:friend_id,limit:limit}).done(function(d){
//		alert(d);
		ob=JSON.parse(d);
		for (var i = 0; i < ob.length; i++) {
			$('.photos').append(make_image_html(ob[i]));
		}
	});
}
</script>
</body>
</html>